fastapi
uvicorn[standard]
stripe
python-dotenv
python-multipart
google-genai
openai
httpx
pandas
requests
psycopg2-binary          # Conexión PostgreSQL
numpy                     # Pandas depende de esto y útil para cálculos
sqlalchemy                # Si quieres usar ORM opcionalmente
python-dateutil           # Para manejo de fechas robusto
